.game-container {

    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.game-container__image {

    height: 150px;
    width: 150px;
    border: 2px #996b5b;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.games-container__information {

    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

.games-container__information__name {

    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: black;
}

.games-container__information__console {

    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.games-container__information__isTogether {

    margin: 10px;
}

.games-container__cooperative-information {

}

.games-container__cooperative-information__image-coop {

    height: 50px;
    width: 30px;
    background-color: #5c687c;
}

.games-container__cooperative-information__image-single {

    height: 50px;
    width: 30px;
    background-color: #ed7368;
}