.image-chooser-container__images-list {
    height: 80%;
}

.image-chooser-container__image {
    height: 300px;
    width: 300px;
    margin: 30px;
}

.image-chooser-container__no-image-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-chooser-container__text {
    vertical-align: center;
}

.image-chooser-container__selected-indicator {
    height: 100%;
    width: 20px;
    background-color: #f46e65;
}

.image-chooser-container__title {
    font-size: 30px;
    margin-top: 80px;
    border: 0;
    border-bottom: 2px rgba(0, 0, 0, 0.51);
    text-align: center;
}

.image-chooser-container--bordered {
    border-width: 10px;
    border-color: #f46e65;
}

.image-chooser-container__btn {
    background-color: #3b56f4;
    color: white;
}