<ActionBar class="action-bar">

    <NavigationButton text="Go Back"
                      icon="res://ic_arrow_back_white_24dp"
                      (tap)="onBack()">
    </NavigationButton>

    <StackLayout orientation="horizontal">
        <Label class="details-container__title" text="Game"></Label>
        <Image class="details-container__cooperative-information__image-coop" horizontalAlignment="right"
               *ngIf="!game.isTogether"
               src="res://person"></Image>
        <Image class="details-container__cooperative-information__image-single" horizontalAlignment="right"
               *ngIf="game.isTogether"
               src="res://people"></Image>
    </StackLayout>

    <ActionItem (tap)="onDelete()"
                ios.systemIcon="9" ios.position="left"
                icon="res://ic_delete_white_24dp"
                android.position="actionBar">
    </ActionItem>
</ActionBar>
<ScrollView orientation="vertical">
    <StackLayout class="details-container"
                 orientation="vertical">

        <TextView class="details-container__name" [editable]="false" text="{{game.name}}"></TextView>

        <TextView class="details-container__console" [editable]="false" text="{{game.console}}"></TextView>

        <FlexboxLayout class="details-container__images">
            <Image class="details-container__image"
                   [src]="game.images[0]"
                   decodeWidth="300"
                   decodeHeight="300"
                   loadMode="async"
                   stretch="aspectFit"
            >
            </Image>
            <Image class="details-container__image"
                   src="{{game.images[1]}}"
                   decodeWidth="300"
                   decodeHeight="300"
                   loadMode="async"
                   stretch="aspectFit">
            </Image>
            <Image class="details-container__image"
                   src="{{game.images[2]}}"
                   decodeWidth="300"
                   decodeHeight="300"
                   loadMode="async"
                   stretch="aspectFit">
            </Image>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>