.details-container__images {
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
}

.details-container__name {
    font-size: 25px;
    word-wrap: break-word;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

.details-container__image {
    height: 600px;
    width: 600px;
    margin: 20px;
    border-radius: 10%;
}

.details-container__console {
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: gray;
}

.details-container__cooperative-information__image-coop {
    height: 80px;
    width: 80px;
}

.details-container__cooperative-information__image-single {
    height: 80px;
    width: 80px;
}

.details-container__title {
    margin-right: 70px;
    font-size: 25px;
    text-align: center;
}