/MyCompletedGames/node_modules/
/MyCompletedGames/platforms/
*.js
/MockServer/node_modules/
/MyCompletedGames/MyCompletedGames/app/common/AuthConstants.ts
/MyCompletedGames/NOTICES
/MyCompletedGames/app/App_Resources/Android/google-services.json
/.idea
