<ActionBar class="action-bar"
           title="New Game">

    <NavigationButton text="Go Back"
                      icon="res://ic_arrow_back_white_24dp"
                      (tap)="onBack()">
    </NavigationButton>

    <ActionItem (tap)="onSaveNewGame($event)"
                ios.systemIcon="9" ios.position="left"
                icon="res://ic_save_white_24dp"
                android.position="actionBar">
    </ActionItem>
</ActionBar>

<StackLayout class="new-game-container"
             orientation="vertical">

    <TextView [(ngModel)]="what"
              hint="What?"
              class="new-game-container__name">
    </TextView>

    <item-chooser [elements]="consoles"
                  [selectedIndex]="chosenConsoleIndex"
                  (callback)="onChooseWhere($event)">
    </item-chooser>

    <item-chooser [elements]="who"
                  [selectedIndex]="chosenWhoIndex"
                  (callback)="onChooseWho($event)">
    </item-chooser>

    <FlexboxLayout class="image-chooser-container" *ngIf="id">

        <Button class="image-chooser-container__btn"
                text="Delete"
                (tap)="onDeleteGame($event)">
        </Button>
    </FlexboxLayout>
</StackLayout>