<GridLayout rows="auto, *" columns="*">

    <Button row="0"
            class="backup-list__load-button"
            text="Connect GoogleDrive"
            visibility="{{isHideConnectButton ? 'collapsed' : 'visible'}}"
            (tap)="onConnectGoogleDrive()"
            height="50">
    </Button>

    <ListView [items]="backupFiles"
              (itemTap)="onActionBackup($event)"
              visibility="{{!isHideConnectButton ? 'hidden' : 'visible'}}"
              height="100%"
              row="1">

        <ng-template let-item="item">
            <StackLayout orientation="vertical">
                <Label class="backup-list__text"
                       [text]="item"
                       horizontalAlignment="center">
                </Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <Label visibility="{{backupFiles.length === 0 ? 'visible' : 'collapsed'}}"
           row="2"
           horizontalAlignment="center"
           marginTop="50%"
           fontSize="20"
           [text]="'No backup files'">
    </Label>
</GridLayout>