<StackLayout orientation="vertical"
             focus="true">

    <Button text="Connect GoogleDrive"
            (tap)="connectGoogleDrive()">
    </Button>

    <ListView [items]="backupFiles" (itemTap)="onActionBackup($event)">

        <ng-template let-item="item">
            <StackLayout orientation="vertical">
                <Label class="backup-list__text" [text]="item" horizontalAlignment="center"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</StackLayout>