<TabView selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Games list'}">
        <games-list></games-list>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Backups'}">
        <backup></backup>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Diagram'}">
        <games-pie-chart [gamesChartData]="chartData"></games-pie-chart>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Chart'}">
        <games-bar-chart [gamesChartData]="chartData"></games-bar-chart>
    </StackLayout>
</TabView>

<FAB (tap)="onCreateNewGame()" visibility="{{visibleButton}}" icon="res://ic_add_white_24dp" rippleColor="#c7675d"
     class="fab-button"></FAB>