<TabView selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Games list'}">
        <games-list #gamelist></games-list>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Backups'}">
        <backup (connectStatus)="onConnectedBackups($event)" #backup></backup>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Diagram'}">
        <games-pie-chart [gamesChartData]="chartData"></games-pie-chart>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Chart'}">
        <games-bar-chart [gamesChartData]="chartData"></games-bar-chart>
    </StackLayout>
</TabView>

<FAB (tap)="onClickAddButton()"
     visibility="{{isVisibleAddButton? 'visible' : 'hidden'}}"
     icon="res://ic_add_white_24dp"
     rippleColor="#c7675d"
     class="fab-button">
</FAB>