.action-bar__navigation {
    flex-direction: row;
    align-items: center;
}

.games-list-container__filters-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.games-list-container__filters-container__btn {
    background-color: #3b56f4;
    color: white;
}

.games-list-container__filters-container__btn--color-red {
    background-color: #f46e65;
    color: white;
}

.title__action-bar {
    flex-direction: row;
}

.fab-button {
    height: 70;
    width: 80;
    margin: 15;
    background-color: #f46e65;
    horizontal-align: right;
    vertical-align: bottom;
}

.sideStackLayout {
    background-color: white;
}