.action-bar__navigation {

    flex-direction: row;
    align-items: center;
}

.games-list-container__filters-container {

    flex-direction: row;
    justify-content: space-around;
}

.games-list-container__filters-container__btn {

    background-color: #3b56f4;
    color: white;
}

.games-list-container__filters-container__btn--color-red {

    background-color: #f46e65;
    color: white;
}

.games-list-container__title {
    margin-right: 70px;
    font-size: 25px;
    text-align: center;
}

.title__action-bar {
    flex-direction: row;
}