<RadSideDrawer tkExampleTitle tkToggleNavButton drawerLocation="Top" drawerContentSize="500">
    <StackLayout tkDrawerContent
                 class="sideStackLayout">
        <item-chooser [elements]="consoles"
                      [selectedIndex]="chosenConsoleIndex"
                      (callback)="onChooseWhere($event)">
        </item-chooser>

        <item-chooser [elements]="who"
                      [selectedIndex]="chosenWhoIndex"
                      (callback)="onChooseWho($event)">
        </item-chooser>

        <Button class="games-list-container__filters-container__btn"
                text="Apply filters"
                (tap)="onApplyFilters($event)">
        </Button>

        <Button class="games-list-container__filters-container__btn--color-red"
                text="Clear filters"
                marginTop="30"
                (tap)="onClearFilter($event)">
        </Button>
    </StackLayout>

    <GridLayout columns="*"
                rows="50,*"
                tkMainContent
                flexDirection="column"
                focus="true">

        <SearchBar class="games-list-container__search-bar"
                   col="0"
                   row="0"
                   (textChange)="onTextChanged($event)"
                   (loaded)="onClearFocus($event)"
                   hint="Search game">
        </SearchBar>

        <ListView class="games-list-container__games-list"
                  col="0"
                  row="1"
                  visibility="{{games.length !== 0 ? 'visible' : 'collapsed'}}"
                  [items]="games">

            <ng-template let-item="item">

                <games-list-item [game]="item">
                </games-list-item>
            </ng-template>
        </ListView>

        <Label visibility="{{games.length === 0 ? 'visible' : 'collapsed'}}"
               col="0"
               row="1"
               horizontalAlignment="center"
               alignSelf="center"
               marginTop="50%"
               fontSize="20"
               [text]="'No games'">
        </Label>
    </GridLayout>
</RadSideDrawer>