.action-bar__navigation {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.games-list-container__filters-container {

    flex-direction: row;
    justify-content: space-around;
}

.games-list-container__filters-container__btn {

    background-color: #3b56f4;
    color: white;
}

.games-list-container__filters-container__btn--color-red {

    background-color: #f46e65;
    color: white;
}