<ActionBar class="action-bar">
    <Label class="action-bar__title" text="Games List"></Label>
</ActionBar>

<StackLayout class="games-list-container" orientation="vertical">
    <SearchBar class="games-list-container__search-bar" (textChange)="onTextChanged($event)"
               hint="Search game"></SearchBar>
    <FlexboxLayout class="games-list-container__filters-container">
        <Button class="games-list-container__filters-container__btn" text="Where?" (tap)="onTap($event)"></Button>
        <Button class="games-list-container__filters-container__btn" text="Who?" (tap)="onTap($event)"></Button>
        <Button class="games-list-container__filters-container__btn--color-red" text="Clear filters"
                (tap)="onTap($event)"></Button>
    </FlexboxLayout>
    <ListView class="games-list-container__games-list" [items]="games">
        <ng-template let-item="item">
            <games-list-item [game]="item"></games-list-item>
        </ng-template>
    </ListView>
</StackLayout>